# See http://help.github.com/ignore-files/ for more about ignoring files.

*.DS_Store
/.env
/.htpasswd
/site.cfg
/web/timeline.conf
/chill/timeline-chill.service
/db
/dist/
/logs/
/node_modules/
/npm-debug.log
/src/*/*.tmp.css
/src/*/*.tmp.css.map
/src/*/*.tmp.js
/src/*/*.tmp.js.map
/timeline/*
!/timeline/MANIFEST

/web/dhparam.pem
/web/rootCA.key
/web/rootCA.pem
/web/rootCA.srl
/web/server.crt
/web/server.csr
/web/server.key

/include/
/lib/
/local/
/share/

*.pyc
*.egg-info/
