[ req ]
default_bits = 2048
prompt=no
default_md = sha256
distinguished_name = dn

[ dn ]
subjectAltName=local-timeline
commonName=local-timeline
emailAddress=jake@weboftomorrow.com
name=Jake Hickenlooper
